# Dynamic Typing pada Python

In [1]:
# Ketika kita memberikan nilai 6 pada variabel x
x = 6  
print(type(x))
# Kemudian Berikan string “hello” pada variabel x di baris selanjutnya
x = 'hello'
print(type(x))

<class 'int'>
<class 'str'>

In [2]:
if False:
    9 + "satu"  # Baris ini tidak dioperasikan, sehingga tidak muncul notifikasi TypeError
else:
    9 + 1

In [3]:
9 + "satu"

TypeError: ignored

In [4]:
contoh = "Halo, Buchori"
print(type(contoh))

<class 'str'>

In [5]:
contoh = 19.7
print(type(contoh))

<class 'float'>