# len()

In [1]:
contoh_list = [1, 3, 3, 5, 5, 5, 7, 7, 9]
print(contoh_list)
print(len(contoh_list))
  
contoh_set = set([1, 3, 3, 5, 5, 5, 7, 7, 9])
print(contoh_set)
print(len(contoh_set))
  
contoh_string = "Belajar Python"
print(contoh_string)
print(len(contoh_string))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9
{1, 3, 5, 7, 9}
5
Belajar Python
14

# min() dan max()

In [2]:
angka = [13, 7, 24, 5, 96, 84, 71, 11, 38]
print(min(angka))
print(max(angka))

5
96

# Count

In [3]:
genap = [2, 4, 4, 6, 6, 6, 8, 10, 10]
print(genap.count(6))
string = "Belajar Python di Dicoding sangat menyenangkan"
substring = "a"
print(string.count(substring))

3
6

# Penggabungan dan Replikasi

In [4]:
angka = [2, 4, 6, 8]
huruf = ['P', 'Y', 'T', 'H', 'O', 'N']
gabung = angka + huruf
print(gabung)

[2, 4, 6, 8, 'P', 'Y', 'T', 'H', 'O', 'N']

In [5]:
learn = ['P', 'Y', 'T', 'H', 'O', 'N']
replikasi = learn * 2
print(replikasi)

['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'Y', 'T', 'H', 'O', 'N']

In [6]:
tujuh = [7]*7
print(len(tujuh))
print(tujuh)

7
[7, 7, 7, 7, 7, 7, 7]

# Range

In [7]:
for i in range(5):
  print(i)

0
1
2
3
4

In [8]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
print([_ for _ in range(0, 20, 5)])

[0, 5, 10, 15]

# in dan not in

In [10]:
kalimat = "Belajar Python di Dicoding sangat menyenangkan"
print('Dicoding' in kalimat)
print('tidak' in kalimat)
print('Dicoding' not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

# Memberikan nilai untuk multiple variabel

In [11]:
data = ['shirt', 'white', 'L']
apparel = data[0]
color = data[1]
size = data[2]

In [12]:
data = ['shirt', 'white', 'L'] # From List
apparel, color, size = data
data = ('shirt', 'white', 'L')  # From Tuple
apparel, color, size = data

In [13]:
apparel, color = 'shirt', 'white'
apparel, color = color, apparel
print(apparel)
print(color)

white
shirt

# Sort

In [14]:
angka = [100, 1000, 500, 200, 5]
angka.sort()
print(angka)

[5, 100, 200, 500, 1000]

In [15]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort()
print(kendaraan)

['helikopter', 'mobil', 'motor', 'pesawat']

In [16]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort(reverse=True)
print(kendaraan)

['pesawat', 'motor', 'mobil', 'helikopter']

In [17]:
kendaraan = ['Motor', 'Mobil', 'helikopter', 'pesawat']
kendaraan.sort(key=str.lower)
print(kendaraan)

['helikopter', 'Mobil', 'Motor', 'pesawat']