# List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

In [1]:
a = [1, 2.2, 'python']
print(a)

[1, 2.2, 'python']

In [4]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [5]:
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [6]:
x = [1,2,3]
x[2]=4
x.append(5)
print(x)

[1, 2, 4, 5]

In [7]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

In [9]:
del binatang[2]
print(binatang)

['kucing', 'rusa']

## Slicing pada String

In [12]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
#s[5]="d" 		#ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

o
World
Halo Dunia!

# Tuple

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [15]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])
#print(t[0]=10)

program
(5, 'program', (1+3j))

# Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [16]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [17]:
a = {1,2,3}
print(a[1])

TypeError: ignored

# Dictionary

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key).

In [18]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [19]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [20]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);
  
# Generates error
print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: ignored

# Konversi (conversion, cast) antar tipe data

In [21]:
print(float(5))

5.0

In [22]:
print(int(10.6))

10

In [23]:
print(int(-10.6))

-10

In [24]:
print(float('2.5'))

2.5

In [25]:
print(str(25))

25

In [26]:
print(int('1p'))

ValueError: ignored

In [27]:
print(set([1,2,3]))

{1, 2, 3}

In [28]:
print(tuple({5,6,7}))

(5, 6, 7)

In [29]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [30]:
print(dict([[1,2],[3,4]]))

{1: 2, 3: 4}

In [31]:
print(dict([(3,26),(4,44)]))

{3: 26, 4: 44}