# Class

In [2]:
class NamaKelas:
    pass  # gantikan dengan pernyataan-pernyataan, misal: atribut atau metode

In [8]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
    i = 12345
  
    def f(self):
        return 'hello world'

print(Kalkulator.i)
Kalkulator.f

12345

# Objek

In [9]:
k = Kalkulator()

In [10]:
print(k.f())

hello world

In [11]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
  
    def __init__(self):
        self.i = 12345
  
    def f(self):
        return 'hello world'

In [12]:
class KeranjangBelanja:
    """contoh tidak baik dilakukan dengan definisi variabel terbagi"""
    isi = []  # menggunakan list di sini akan terbagi untuk semua instance. JANGAN DILAKUKAN

In [13]:
k = Kalkulator()  # membuat instance dari kelas jadi objek, kemudian disimpan pada variabel k

In [14]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
  
    def __init__(self, i=12345):
        self.i = i  # i adalah variabel pada constructor, self.i adalah variabel dari class
  
    def f(self):
        return 'hello world'

In [15]:
k = Kalkulator(i=1024)  # melakukan instantiation sekaligus mengisi atribut i jadi 1024
print(k.i)              # mencetak atribut i dari objek k dengan keluaran nilai 1024

1024

# Metode

In [16]:
k.f()

'hello world'

In [17]:
Kalkulator.f(k)

'hello world'

In [19]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
  
    def f(self):
        return 'hello world'
  
    @classmethod
    def tambah_angka(cls, angka1, angka2):
        return '{} + {} = {}'.format(angka1, angka2, angka1 + angka2)

In [21]:
Kalkulator.tambah_angka(1, 2)  # tanpa perlu memberikan masukan untuk argumen cls

'1 + 2 = 3'

In [22]:
k = Kalkulator()
print(k.tambah_angka(1, 2))

1 + 2 = 3

In [23]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
  
    def f(self):
        return 'hello world'
  
    @staticmethod
    def kali_angka(angka1, angka2):
        return '{} x {} = {}'.format(angka1, angka2, angka1 * angka2)

In [24]:
a = Kalkulator.kali_angka(2, 3)
print(a)

2 x 3 = 6

In [25]:
k = Kalkulator()
a = k.kali_angka(2, 3)
print(a)

2 x 3 = 6